<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center font-weight-bold">DEIXA O DENGOSO PARA LÁ</h2>
      <p class="text-center">Olá povo, pode vir, pode chegar, tenho uma quentinha para te falar, não vai querer ser o único boiando por aqui, não é?</p>
    </div>
  </div>
</div>

<section class="flex">
      <div class="align-self-center">
        <h4>VÍRUS DA DENGUE</h4>
        <p>Esse não canta no seu ouvido, mas apesar de não fazer peso no ar, é perigoso e pode te derrubar.</p>
      </div>
        <div class="text-center">
            <img id="img" src="/assets/img1.png" alt="mosquito">
        </div>
</section>

<section class="flex">
  <div>
    <img id="img" src="/assets/2.png" alt="mosquito">
  </div>
  <div class="align-self-center">
    <h4 class="text-right">ÁGUA PARADA</h4>
    <p>O Dengoso, <strong>Aedes aegypti</strong> é o nome do meliante. O levado faz de qualquer água parada casa com piscina. </p>
  </div>
</section>

<div id="textone">
  <h5 class="text-center">Evite dar lugar ao Dengoso</h5>
</div>

<div class="container flex">
  <div class="row">
    <div class="col" >
      <div class="card">
        <img src="/assets/1.png" class="card-img-top" id="card" alt="prato">
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/3.png" class="card-img-top" alt="prato">
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/4.png" class="card-img-top" alt="prato">
      </div>
    </div>
  </div>
</div>
<div class="container" id="textone">
  <div class="row">
    <div class="col">
      <div class="card">
        <img src="/assets/5.png" class="card-img-top" alt="prato">
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/6.png" class="card-img-top" alt="prato">
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/7.png" class="card-img-top" alt="prato">
      </div>
    </div>
  </div>
</div>

<div id="textone">
  <h5 class="text-center">Elimine água parada</h5>
</div>
<section class="flex" id="text2">
  <div>
    <p id="textp" class="text-left text-justify">Locais que possam acumular água devem ser virados  ou tampados para não acumular. É importante fazer a denúncia se a água no local permanece mais de sete dias, pois é quando o mosquito se desenvolve na região.</p>
  </div>
  <div class="align-self-center">
    <p id="textp" class="text-right text-justify">Descarte o lixo no lugar certo. Vasilhas com água devem ser lavadas frequentemente. Fazer limpeza do local também ajuda.</p>
  </div>
</section>

<div id="textone">
  <h5 class="text-center">Mostra quem manda</h5>
  <p clas="text-center justify-content-center">Você pode ter a ajuda de um profissional treinado e quem te garante o serviço é a secretaria de saúde da prefeitura.</p>
</div>
<section class="flex">
  <div class="align-self-center">
    <h4>VENENO PRO BICHO </h4>
    <p>Em locais com muitos focos de água parada podem ser usado produtos que eliminam as larvas do mosquito.</p>
  </div>
    <div>
        <img id="img" src="/assets/img2.png" alt="profissional">
    </div>
</section>

<section class="flex">
  <div>
    <img id="img" src="/assets/img3.png" alt="protecao">
  </div>
  <div class="align-self-center">
    <h4 class="text-right">PROTEJA-SE</h4>
    <p>Use repelentes para mosquitos. Evite locais com focos de dengue e se puder ter telas de proteção em casa, cuidado nunca é demais.</p>
  </div>
</section>

<section class="flex">
  <div class="align-self-center">
    <h4>VACINA</h4>
    <p>No Brasil existe a vacina contra dengue, para pessoas até 45 anos.  O SUS não tem, mas você pode procurar a clínica mais próxima de você.</p>
  </div>
    <div class="text-center">
        <img id="img" src="/assets/img4.png" alt="vacina">
    </div>
</section>

<section class="flex">
  <div>
    <img id="img" src="/assets/img5.png" alt="sintomas">
  </div>
  <div class="align-self-center">
    <h4 class="text-right">PRIMEIROS SINTOMAS</h4>
    <ul>
      <li>Febre alta;</li>
      <li>Dores intensas do pé a cabeça;</li>
      <li>Calafrios, náuseas e vômitos;</li>
      <li>Manchas pelo corpo ou coceira;</li>
    </ul>
  </div>
</section>

<section class="flex">
  <div id="textone" class="align-self-center">
    <h5 class="text-left">FIQUE ATENTO</h5>
    <p class="text-left text-justify">Com tudo isso você já pode para driblar a dengue e fazer o gol compartilhando com seus amigos e familiares. Se precisar procure um médico e mantenha se informado. Não vamos deixar o dengoso roubar a bola.</p>
    <p></p>
  </div>
  <div><img id="img" src="/assets/img6.png" alt="jogador"></div>
</section>
