<!-- quais bairros possuem mais pessoas com suspeita ou confirmada  -->
<!-- Poder ver quais bairros tem mais focos  -->
<div class="container custom-heigth mt-5 mb-5">
  <h1>Onde o dengoso está dominando?</h1>
  <p>Aqui você encontra a quantidade de <b>focos</b> por <b>bairro</b> em Blumenau!</p>
  <div class="grafico mt-5">
    <div>
      <div id="container-canvas" *ngIf="hasLoaded$ | async; else loading">
        <canvas  id="grafico-focos"></canvas>
      </div>
      <ng-template #loading>
        <app-loading></app-loading>
      </ng-template>
    </div>
  </div>
</div>
<div class="d-flex justify-content-around custom">
  <a class="btn btn-info" (click)="goFaixa()" role="button">Faixa Etária</a>
  <a class="btn btn-info" (click)="goCasos()" role="button">Casos</a>
</div>
