<div class="login-page container mt-5 mb-5">
  <h1>Exclusivo para Agentes da Saúde</h1>
  <hr class="mb-5">
  <div class="form-row mt-5">
    <form class="col">
      <h2>Login</h2>
      <div class="form-group mt-4 mb-4">
        <label for="exampleInputEmail1">Número de Identificação</label>
        <input type="text" class="form-control col-md-8" id="numeroid">
      </div>
      <div class="form-group mt-4 mb-4">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control col-md-8" id="senha">
      </div>
      <div class="mt-5">
        <button type="reset" class="btn btn-success mr-3">Limpar</button>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
    <div class="col img">
    </div>
  </div>
</div>
