

.footer
{
  overflow: hidden;
  background-color: var(--cor1);
  padding: 20px 10px;
  color: #fff;
  position: sticky;
  top: 100%;
}

h1
{
  font-weight: bold;
  font-size: 23px;
}

p
{
  font-size: 15px;
}

a
{
  color: white;
  text-decoration: none;
  padding: 0px 5px;
  font-size: 17px;
}

a:hover
{
  color: var(--cor4);
  transition: .5s;
}

i
{
  padding: 0px 10px;
}
