<div class="footer-class">
  <div class="container">
    <footer class="row row-cols-5 py-5 border-top">
      <div class="col-7">
        <a href="#" class="d-flex align-items-center mb-3 link-icon">
          <img src="../../../../assets/_img/aedes-icon.png" alt=""> Dengue Map
        </a>
        <p class="text-italic">Você sabe onde mora o perigo, acabe com ele.</p>
      </div>

      <div class="col-4 contacts">
        <h5>Contatos</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABk0lEQVRIie3UT0sWURTH8Y88ixBXLZIkIgRdhOXKIqFWYRJu7SUkmG+gfSDiG8jE2gatAtdRLyGUcGGbsMSNmywThabFnMuMw53HslrVDw4M58/33Hvn3Mt/nUKDeIItHOEjVjBUyxnG04gdRe5S1HbVJPZQZOwQ9zET37mcz7jTbeUJvopr6MOV2FGB72EFlnEVvZiInaQml3INEmS1ZQFztQZzNX8/1qM2NXmcA2xFcKxti3gYloOvK4+nwIdc8UEE+xr+2QA11YT3K4+rwLdcg/cRHKn5HjQA3eCU/6vAZq7BswjOnwBqg8NC+FdyDW5EcA8XujRpg1/EF+UQXM81gBdR/AqdliY5eAevI/a8DZ5A25G41Iidwxo2cL7m71HeiQI7jVhWt7AfBY8yC2hO1Hzk7uPmSfCkCdXYLsQqm+rBouoZmfpZeNI91Zuz7Pg/6aiO5RDTvwpPuq16n14qL9IZ1TB8xd3TwpPGsRvAN2FF+MZ/F550Wfm+pDH9hNE/BU8awFu8U16qv6KzYf+QfgCDcovOE+wEMQAAAABJRU5ErkJggg=="/> Secretaria de Saúde da Prefeitura</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAABNklEQVRIie3VsS4EURQG4I/NrsQ2JCR4BSWFUkTiKRQUGtHRiobGCxAPIOEBCJVCFFYlKlZHQUQkCs1mFLObbHbvbMjOTLbYPznNnZt8mZl7z6GfHsgqnlDBeF7oHqKmOsoDXWpBI9QwkzV8GYAjXGMgS/grAY6wnCX80QF+QTkNZDCw9thh/xSm04BD2ZL8xg8oZgVP4jsBXsgKbWQngFayRokP0HML/IbRPPBZ/LTgVxjKA9/Q/smPZdxIGjkM4Pt5wAWcBvCD+rPmFDGH4bTwEs4C+DlG6nvmcV9ff8WacIP6d8q4CODvuAusNwZLKlOthJMEJKlq4nk+1i1eEP/f/+ARbruFG1nXfs87VTUtmLjJVP8Ir6QJEx+6bcmDJcJu2mhzJrCJG3Ff/xRft8Us0X56N78yrqGT0YuBHgAAAABJRU5ErkJggg=="/>(47) 3381 - 6100</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 link-icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAABIUlEQVRYhe2WPWrDMBiGn6RdPWQotNAMWTIFWnoM7zlBIFfobnKELLlCQqeQpWOnbj1Dxy5toVCIoTiDP2ElxLLsKlYGPSBsy9/PqxchGwIBz3QM77I2enUdN6nNpUWMySUbjE56d6BMwN0Jet3bBs6AlNw6FxtR1UmldiV/WpJLAZnU3sNmD8yBqEHjSHJroxxIgK3cvwNxjRqx5GRSI6HEAZOALjACXiksXAJXhtwesNDi34AHqdVIAHKdAj8y/ynPh4yBD4n5BR6BC61GYwGKAfBMsboN0AdugCdt/gUYHuQ6EQD5qTgBviTmW0YmcxOOn5zOBCiugRXFqtfArSHeuQDFWEYVJxNgS6mAs/0YBQGtYfojstqx/8W7A4GAd3bunVuWEm/V0gAAAABJRU5ErkJggg=="/>semus@blumenau.sc.gov.br</a></li>
        </ul>
      </div>
    </footer>
  </div>
</div>
