.footer-class
{
  background-color: var(--cor1);
}

.text-italic
{
  font-style: italic;
  color: white;
}

.link-icon
{
  color: white;
  text-decoration: none;
}

.link-icon:hover
{
  color: var(--cor4);
  transition: .5s;
}

.contacts
{
  color: white;
  
}
