<div class="container-fluid footer mt-5">
  <div class="row">

    <!-- name  -->
    <div class="col-lg-6">
      <h1><a href="#"><img src="../../../../assets/_img/aedes-icon.png" alt="">DengueMap</a></h1>
      <p>Você sabe onde mora o perigo, acabe com ele.</p>
    </div>

    <!-- nav  -->
    <div class="col-lg-4">
    </div>

    <!-- socialmedia  -->
    <div class="col-lg-2">
      <h1>Contatos</h1>
      <p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABIklEQVRIie3VvUoDQRSG4ecWbERBC0FBIVoGC61ERGz1EvSCBIWAWlp4NTYioo3EvyjYiBIUshbJwpLM7GxCOn3hwMLMvt9wOMzwzwjMoYEmfvCAE8wX9izgtLfWxg0OMZuSb+EDWaC+sY+D3nf/egu11Mlj8rw6vSqT1zATCmgk5LHql7d02zVAc0zyDNehgHZEclz4sYo8w1co4C4gOYoIyuQZbkMBZxVPmZJnumM9wGqkRf3ClLyDeigALiIhr1gu7FvEc2TveUwOk3hKhJTJXzBVFgDrulMQa1eoLfnkrKXkOZviYxu7RnaqynP2hO+ckHx3WHnOhvL76RPbo8pz6ngLyN8N0fMUS7gvyB+xMi55zjQucaXCwzIqE736Q/wCYoXV7eZOjZEAAAAASUVORK5CYII="/>  Secretaria de Saúde da Prefeitura</p>
      <p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA8klEQVRIie3VsS4EQRwH4I+oRMdFJZF7AFHKvQNPcLwGvZZHEI/giPpEqRERUV2hVqJwEkaxs7HWXuR2Zyt+yWSz2X9+XzGZWf4zZS4QCmuMzZTAuAQEHDQpnC29P1XMLKYEHipm1lICdxUz61hIBVxWzNzgtS5QTgdvvjb4HsupyvMMYvkogsmzEYEXrLYBwHlEBm0BXTxHZLctpB+BD2xPmJnDfBNkv4Dslb51cI33+DzGIbamAWYKSMApVmL5rZ/3VlDzzPRl91SQ7c1oQnm+aqWLs1+KGwF5ejjx/cQnBfIsYQdHuMKj7H8yTAX8kXwCkiNTT5rkMssAAAAASUVORK5CYII="/>  (47) 3381 - 6100</p>
      <p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA+0lEQVRIie3UTUoDQRAF4I/gLiKu/cMrqOQOhrhz79IreApRcOEhFJSApxC9gjKJunbhykBc2CHtpGcMM7MQyYNmmq5673VXDcUCfwk9DDGuuQbopgwGDYhPVpYymARXqhUAtCOdGbyHwAsOK4gf4DlofKQS1nAV3aCPrTmE13Ed8e6wXUbo4Sm6yQmWEnktHJu+/BVHZcKXWA37Nk7xGcgP2Ityd3EfYiNcmPZuGWcpgzHecmc7OaHzQB6Fs0d0cpxMQZOLup8vxW+lK/yLCgMBG7jBLTZL8iobzIsfOq0GBEvxvwyG4Vt30PE9OGfQ1cxEzbBf49ELNIwvGf2IXh7cgg8AAAAASUVORK5CYII="/>  semus@blumenau.sc.gov.br</p>
    </div>
  </div>
</div>
