<div class="footer-class">
  <div class="container">
    <footer class="row row-cols-5 py-5 border-top">
      <div class="col">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p class="text-muted">© 2021</p>
      </div>

      <div class="col">

      </div>

      <div class="col">

      </div>

      <div class="col">
        <h5>Contatos</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Local</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Telefone</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Email</a></li>
        </ul>
      </div>

      <div class="col">

      </div>
    </footer>
  </div>
</div>
