<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
  <a class="navbar-brand" href="#"><img src="../../../../assets/_img/aedes-icon.png" alt="">Dengue Map</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/mapeamento" routerLinkActive="active-link">Mapeamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cadastro-pessoa" routerLinkActive="active-link">Pessoas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cadastro-foco" routerLinkActive="active-link">Focos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tela-informacoes" routerLinkActive="active-link">Curioso</a>
      </li>
    </ul>
  </div>
</nav>
