<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
  <a class="navbar-brand" href="#"><img src="../../../../assets/_img/aedes-icon.png" alt="">Dengue Map</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/grafico-focos" routerLinkActive="active-link">Mapeamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cadastro-pessoa" routerLinkActive="active-link">Reportar um Caso</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cadastro-foco" routerLinkActive="active-link">Reportar um Foco</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tela-informacoes" routerLinkActive="active-link">Curioso</a>
      </li>
      <li *ngIf="toggleAgente === true;" class="nav-item">
        <a class="nav-link" routerLink="/listagem-pessoas" routerLinkActive="active-link">Lista de casos</a>
      </li>
      <li *ngIf="toggleAgente === true;" class="nav-item">
        <a class="nav-link" routerLink="/list-focos" routerLinkActive="active-link">Lista de focos</a>
      </li>
      <li *ngIf="toggleAgente === false" class="nav-item">
        <a class="nav-link" routerLink="" (click)="alterarAgente()" >Sou agente</a>
      </li>
      <li *ngIf="toggleAgente === true" class="nav-item">
        <a class="nav-link" routerLink="" (click)="alterarAgente()" >Logoff</a>
      </li>
    </ul>
  </div>
</nav>
