<!-- quais bairros possuem mais pessoas com suspeita ou confirmada  -->
<!-- Poder ver quais bairros tem mais focos  -->
<div class="container mt-5 mb-5">
  <h1>Vê se o dengoso está na área!</h1>
  <p>Aqui você encontra a quantidade de <b>casos</b> por <b>bairro</b> em Blumenau!</p>
  <div class="grafico mt-5">
    <div>
      <div>
        <canvas id="my_first_chart"></canvas>
      </div>
      <div class="flex mt-4">
        <span class="badge badge-pill badge-danger">---</span><p>Acima da média</p>
        <span class="badge badge-pill badge-warning">---</span><p>Alerta</p>
      </div>
      <button (click)="showChart()">Update</button>
    </div>
  </div>
</div>
