.eight h1 {
  text-align:center;
  text-transform:uppercase;
  font-size:26px; letter-spacing:1px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
  background-image: linear-gradient(to left, #5194FF, #6BC4FF);
  color: transparent;
}

h1 {
  font-weight: 600;
  background-image: linear-gradient(to left, #5194FF, #6BC4FF);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}


.eight h1:after,.eight h1:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #ccc;
}

label
{
  font-weight: 500;
  font-size: 17px;
}



