<div class="landing-inicio mb-5">
  <div class="info-landing">
    <div class="texto-landing">
        <h1 class="highlight">TODOS CONTRA A DENGUE</h1>
        <p>O controle do Aedes aegypti é uma tarefa contínua e coletiva.
          Vem conferir dicas de como você pode deixar o dengoso para lá!</p>
        <a class="btn btn-info" routerLink="/tela-informacoes" role="button">Espiar</a>
    </div>
  </div>
</div>

<div class="landing-meio mt-5">
  <div class="info-landing">
    <div class="texto-landing-ultimo">
        <h1 class="highlight2">FÁCIL DE VER #PRATODOMUNDO</h1>
        <p>Quer saber por onde que o mosquito anda passeando pra evitar dar de cara com ele? Quer saber com quem o dengoso tá popular?
        <b>Confere aqui que a gente te mostra.</b></p>
        <a class="btn btn-info" routerLink="/grafico-focos" role="button">Conferir</a>
    </div>
  </div>
</div>

<div class="landing-fim mt-5">
  <div class="info-landing">
    <div class="texto-landing-ultimo">
        <h1 class="highlight2">TÁ TODO MUNDO JUNTO!</h1>
        <p>
          Viu um possível foco de dengue?<br> Aqui você pode reportar um foco e garantir que um agente vá ao local para garantir a sua segurança. <br>
          O mosquito te pegou ou você tem sintomas? <br> Vem contar pra gente, assim você  ajuda o bem estar de todo mundo. </p>
          <a class="btn btn-info mr-4" routerLink="/cadastro-foco" role="button">Reportar um Foco</a>
          <a class="btn btn-info" routerLink="/cadastro-pessoa" role="button">Reportar um Caso</a>
    </div>
  </div>
</div>
