.landing-inicio
{
    background-image: url('../../../assets/_img/aedes-landing1.png');
    min-height: 90vh;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}

.landing-meio
{
  background-image: url('../../../assets/_img/landing-2.jpg');
  min-height: 100vh;
  background-position: center top;
  background-size: cover;
  display: flex;
  background-attachment: fixed;
}

.landing-fim
{
  background-image: url('../../../assets/_img/landing-3.jpg');
  min-height: 90vh;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}

.info-landing
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

p
{
  font-size: 20px;
}

.texto-landing
{
    width: 80%;
    padding: 20px 20px 20px 30px;
}

.texto-landing-ultimo
{
  width: 80%;
  padding: 20px 20px 20px 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.479);
}

.highlight {
  font-size: 50px;
  font-weight: 600;
  background-image: linear-gradient(to left, var(--cor1), var(--cor3));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.highlight2
{
  font-size: 50px;
  font-weight: 600;
  color: var(--cor4);
}

.highlight3
{
  font-size: 50px;
  font-weight: 600;
  color: var(--cor3);
}


@media screen and (max-width: 700px)
{
  .img-landing
  {
    background-image: none;
  }

  .info-landing
  {
    width: 100%;
  }

  .texto-landing
  {
    width: 100%;
  }
}

